@model MvcHTPC.ViewModels.HomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        .my-no-select {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .my-center-content {
            text-align: center;
            font-size: 2.5em;
            color: rgb(255, 100, 100);

        }
        a.my-center-content:link {
            color: rgb(255, 100, 100);
        }
        .linkcolors {
            color: #F00;
            text-shadow: 0px 0px #000, 1px 0px #000, 0px 1px #000, 1px 1px #000, -1px 0px #000, 0px -1px #000, -1px -1px #000;
        }
    </style>
    <script type="text/javascript">

        jQuery(document).ready(function (e) {
            jQuery(".jContentLocation").on("click", function (e) {
                console.log(jQuery(this.children[0]).text());
            })
        });

    </script>
</head>
@if (User.Identity.IsAuthenticated)
{
    <div>
        <p>Welcome @Model.userDto.username!</p>
        [Modify Folders]
        <div style="border: 1px solid #000;">
            @using (Html.BeginForm("CreateFolder", "Home", FormMethod.Post, new { nctype = "multipart/form-data" }))
            {
                <div>
                    <span style="float: right;">
                        <label>Folder Name: </label> @Html.TextBox("title", null, new { placeholder = "My Folder" })<br/>
                    </span>
                    <span style="clear: both; display: table;"></span>
                    <span style="float: right;">
                        <label>Folder Description: </label> @Html.TextBox("description", null, new { placeholder = "This is my brand new folder!" })
                    </span>
                    <span style="clear: both; display: table;"></span>
                    <br/>
                    <div style="float: right;">
                        <input type="submit" value="Create Folder" />
                    </div>
                    <span style="clear: both; display: table;"></span>
                </div>
            }

        </div>
        <br/>

                    @foreach (var i in Model.folderDtos)
                    {
                      
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div>
                                    @i.title<span>:</span> <a onclick="return false;" class="jContentLocation"><input style="cursor: pointer;" type="text" class="well well-sm" value="@i.location"/></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                @foreach (var c in i.contentDtos)
                                {
                                    <a class="list-group-item my-center-content linkcolors" href="@c.bodyText" style="color: rgb(255, 196, 196);">@c.bodyText</a>
                                }
                            </div>
                        </div>
                    </div>
                    }
    </div>
}
else
{ // we still want people to enjoy website features even when they aren't logged in
    <div>
        [Explore]->[Recommended channels]->[Login nag]
    </div>
}

